.cy-text-flat-irishblue, .cy-text-h-flat-irishblue:hover { color: #00b5cc; }

.cy-text-flat-sherpablue, .cy-text-h-flat-sherpablue:hover { color: #013243; }

.cy-text-flat-deepskyblue, .cy-text-h-flat-deepskyblue:hover { color: #19b5fe; }

.cy-text-flat-summersky, .cy-text-h-flat-summersky:hover { color: #1e8bc3; }

.cy-text-flat-jacksonspurple, .cy-text-h-flat-jacksonspurple:hover { color: #1f3a93; }

.cy-text-flat-ebonyclay, .cy-text-h-flat-ebonyclay:hover { color: #22313f; }

.cy-text-flat-dodgerblue, .cy-text-h-flat-dodgerblue:hover { color: #22a7f0; }

.cy-text-flat-shark, .cy-text-h-flat-shark:hover { color: #24252a; }

.cy-text-flat-jellybean, .cy-text-h-flat-jellybean:hover { color: #2574a9; }

.cy-text-flat-madison, .cy-text-h-flat-madison:hover { color: #2c3e50; }

.cy-text-flat-mariner, .cy-text-h-flat-mariner:hover { color: #2c82c9; }

.cy-text-flat-ming, .cy-text-h-flat-ming:hover { color: #336e7b; }

.cy-text-flat-pickledbluewood, .cy-text-h-flat-pickledbluewood:hover { color: #34495e; }

.cy-text-flat-curiousblue, .cy-text-h-flat-curiousblue:hover { color: #3498db; }

.cy-text-flat-chambray, .cy-text-h-flat-chambray:hover { color: #3a539b; }

.cy-text-flat-havelockblue, .cy-text-h-flat-havelockblue:hover { color: #4183d7; }

.cy-text-flat-sanmarino, .cy-text-h-flat-sanmarino:hover { color: #446cb3; }

.cy-text-flat-airforceblue, .cy-text-h-flat-airforceblue:hover { color: #4b77be; }

.cy-text-flat-hanpurple, .cy-text-h-flat-hanpurple:hover { color: #4d05e8; }

.cy-text-flat-persianblue, .cy-text-h-flat-persianblue:hover { color: #4d13d1; }

.cy-text-flat-shakespeare, .cy-text-h-flat-shakespeare:hover { color: #52b3d9; }

.cy-text-flat-royalblue, .cy-text-h-flat-royalblue:hover { color: #5333ed; }

.cy-text-flat-pictonblue, .cy-text-h-flat-pictonblue:hover { color: #59abe3; }

.cy-text-flat-fountainblue, .cy-text-h-flat-fountainblue:hover { color: #5c97bf; }

.cy-text-flat-malibu, .cy-text-h-flat-malibu:hover { color: #6bb9f0; }

.cy-text-flat-spray, .cy-text-h-flat-spray:hover { color: #81cfe0; }

.cy-text-flat-jordyblue, .cy-text-h-flat-jordyblue:hover { color: #89c4f4; }

.cy-text-flat-hummingbird, .cy-text-h-flat-hummingbird:hover { color: #c5eff7; }

.cy-text-flat-aliceblue, .cy-text-h-flat-aliceblue:hover { color: #e4f1fe; }

.cy-text-flat-niagara, .cy-text-h-flat-niagara:hover { color: #2abb9b; }

.cy-text-flat-brightturquoise, .cy-text-h-flat-brightturquoise:hover { color: #29f1c3; }

.cy-text-flat-java, .cy-text-h-flat-java:hover { color: #23cba7; }

.cy-text-flat-lightgreen, .cy-text-h-flat-lightgreen:hover { color: #7befb2; }

.cy-text-flat-oceangreen, .cy-text-h-flat-oceangreen:hover { color: #4daf7c; }

.cy-text-flat-aquaisland, .cy-text-h-flat-aquaisland:hover { color: #a2ded0; }

.cy-text-flat-mediumturquoise, .cy-text-h-flat-mediumturquoise:hover { color: #4ecdc4; }

.cy-text-flat-summergreen, .cy-text-h-flat-summergreen:hover { color: #91b496; }

.cy-text-flat-observatory, .cy-text-h-flat-observatory:hover { color: #049372; }

.cy-text-flat-salem, .cy-text-h-flat-salem:hover { color: #1e824c; }

.cy-text-flat-jade, .cy-text-h-flat-jade:hover { color: #00b16a; }

.cy-text-flat-freespeechaquamarine, .cy-text-h-flat-freespeechaquamarine:hover { color: #03a678; }

.cy-text-flat-greenhaze, .cy-text-h-flat-greenhaze:hover { color: #019875; }

.cy-text-flat-eucalyptus, .cy-text-h-flat-eucalyptus:hover { color: #26a65b; }

.cy-text-flat-malachite, .cy-text-h-flat-malachite:hover { color: #00e640; }

.cy-text-flat-junglegreen, .cy-text-h-flat-junglegreen:hover { color: #26c281; }

.cy-text-flat-darkseagreen, .cy-text-h-flat-darkseagreen:hover { color: #90c695; }

.cy-text-flat-gossip, .cy-text-h-flat-gossip:hover { color: #87d37c; }

.cy-text-flat-emerald, .cy-text-h-flat-emerald:hover { color: #3fc380; }

.cy-text-flat-mountainmeadow, .cy-text-h-flat-mountainmeadow:hover { color: #16a085; }

.cy-text-flat-shamrock, .cy-text-h-flat-shamrock:hover { color: #2ecc71; }

.cy-text-flat-riptide, .cy-text-h-flat-riptide:hover { color: #86e2d5; }

.cy-text-flat-madang, .cy-text-h-flat-madang:hover { color: #c8f7c5; }

.cy-text-flat-turquoise, .cy-text-h-flat-turquoise:hover { color: #36d7b7; }

.cy-text-flat-mediumaquamarine, .cy-text-h-flat-mediumaquamarine:hover { color: #66cc99; }

.cy-text-flat-lightseagreen, .cy-text-h-flat-lightseagreen:hover { color: #1ba39c; }

.cy-text-flat-downy, .cy-text-h-flat-downy:hover { color: #65c6bb; }

.cy-text-flat-silvertree, .cy-text-h-flat-silvertree:hover { color: #68c3a3; }

.cy-text-flat-carribeangreen, .cy-text-h-flat-carribeangreen:hover { color: #03c9a9; }

.cy-text-flat-hoki, .cy-text-h-flat-hoki:hover { color: #67809f; }

.cy-text-flat-outerspace, .cy-text-h-flat-outerspace:hover { color: #2e3131; }

.cy-text-flat-mercury, .cy-text-h-flat-mercury:hover { color: #e8e8e8; }

.cy-text-flat-mystic, .cy-text-h-flat-mystic:hover { color: #e8ecf1; }

.cy-text-flat-pampas, .cy-text-h-flat-pampas:hover { color: #f3f1ef; }

.cy-text-flat-solitude, .cy-text-h-flat-solitude:hover { color: #e4e9ed; }

.cy-text-flat-silver, .cy-text-h-flat-silver:hover { color: #bfbfbf; }

.cy-text-flat-cararra, .cy-text-h-flat-cararra:hover { color: #03c9a9; }

.cy-text-flat-edward, .cy-text-h-flat-edward:hover { color: #abb7b7; }

.cy-text-flat-iron, .cy-text-h-flat-iron:hover { color: #dadfe1; }

.cy-text-flat-cascade, .cy-text-h-flat-cascade:hover { color: #95a5a6; }

.cy-text-flat-porcelain, .cy-text-h-flat-porcelain:hover { color: #ecf0f1; }

.cy-text-flat-silversand, .cy-text-h-flat-silversand:hover { color: #bdc3c7; }

.cy-text-flat-gallery, .cy-text-h-flat-gallery:hover { color: #eeeeee; }

.cy-text-flat-pumice, .cy-text-h-flat-pumice:hover { color: #d2d7d3; }

.cy-text-flat-lynch, .cy-text-h-flat-lynch:hover { color: #6c7a89; }

.cy-text-flat-whitesmoke, .cy-text-h-flat-whitesmoke:hover { color: #ececec; }

.cy-text-flat-capehoney, .cy-text-h-flat-capehoney:hover { color: #fde3a7; }

.cy-text-flat-saffronmango, .cy-text-h-flat-saffronmango:hover { color: #fabe58; }

.cy-text-flat-lightiningyellow, .cy-text-h-flat-lightiningyellow:hover { color: #f5ab35; }

.cy-text-flat-seabuckthron, .cy-text-h-flat-seabuckthron:hover { color: #eb974e; }

.cy-text-flat-tahitgold, .cy-text-h-flat-tahitgold:hover { color: #e87e04; }

.cy-text-flat-california, .cy-text-h-flat-california:hover { color: #f89406; }

.cy-text-flat-casablanca, .cy-text-h-flat-casablanca:hover { color: #f4b350; }

.cy-text-flat-crusta, .cy-text-h-flat-crusta:hover { color: #f2784b; }

.cy-text-flat-firebrush, .cy-text-h-flat-firebrush:hover { color: #eb9532; }

.cy-text-flat-supernova, .cy-text-h-flat-supernova:hover { color: #ffcb05; }

.cy-text-flat-goldenrod, .cy-text-h-flat-goldenrod:hover { color: #fcd670; }

.cy-text-flat-carrotorange, .cy-text-h-flat-carrotorange:hover { color: #e67e22; }

.cy-text-flat-buttercup, .cy-text-h-flat-buttercup:hover { color: #f39c12; }

.cy-text-flat-sandstorm, .cy-text-h-flat-sandstorm:hover { color: #f9bf3b; }

.cy-text-flat-jaffa, .cy-text-h-flat-jaffa:hover { color: #f27935; }

.cy-text-flat-ecstasy, .cy-text-h-flat-ecstasy:hover { color: #f9690e; }

.cy-text-flat-burntorange, .cy-text-h-flat-burntorange:hover { color: #d35400; }

.cy-text-flat-zest, .cy-text-h-flat-zest:hover { color: #e47833; }

.cy-text-flat-vivid, .cy-text-h-flat-vivid:hover { color: #f15a22; }

.cy-text-flat-mysin, .cy-text-h-flat-mysin:hover { color: #fcb941; }

.cy-text-flat-lightbuckthorn, .cy-text-h-flat-lightbuckthorn:hover { color: #f9b42d; }

.cy-text-flat-seance, .cy-text-h-flat-seance:hover { color: #9a12b3; }

.cy-text-flat-plum, .cy-text-h-flat-plum:hover { color: #913d88; }

.cy-text-flat-lightwisteria, .cy-text-h-flat-lightwisteria:hover { color: #be90d4; }

.cy-text-flat-wisteria, .cy-text-h-flat-wisteria:hover { color: #9b59b6; }

.cy-text-flat-studio, .cy-text-h-flat-studio:hover { color: #8e44ad; }

.cy-text-flat-snuff, .cy-text-h-flat-snuff:hover { color: #dcc6e0; }

.cy-text-flat-mediumpurple, .cy-text-h-flat-mediumpurple:hover { color: #bf55ec; }

.cy-text-flat-honeyflower, .cy-text-h-flat-honeyflower:hover { color: #674172; }

.cy-text-flat-lavenderpurple, .cy-text-h-flat-lavenderpurple:hover { color: #947cb0; }

.cy-text-flat-cesoir, .cy-text-h-flat-cesoir:hover { color: #a96dad; }

.cy-text-flat-rebeccapurple, .cy-text-h-flat-rebeccapurple:hover { color: #663399; }

.cy-text-flat-electricindigo, .cy-text-h-flat-electricindigo:hover { color: #8c14fc; }

.cy-text-flat-mauve, .cy-text-h-flat-mauve:hover { color: #d5b8ff; }

.cy-text-flat-bluechalk, .cy-text-h-flat-bluechalk:hover { color: #f1e7fe; }

.cy-text-flat-electricpurple, .cy-text-h-flat-electricpurple:hover { color: #a537fd; }

.cy-text-flat-scampi, .cy-text-h-flat-scampi:hover { color: #736598; }

.cy-text-flat-lightslateblue, .cy-text-h-flat-lightslateblue:hover { color: #9f5afd; }

.cy-text-flat-wistful, .cy-text-h-flat-wistful:hover { color: #aea8d3; }

.cy-text-flat-mediumredviolet, .cy-text-h-flat-mediumredviolet:hover { color: #963694; }

.cy-text-flat-pomegranate, .cy-text-h-flat-pomegranate:hover { color: #f03434; }

.cy-text-flat-sunglo, .cy-text-h-flat-sunglo:hover { color: #e26a6a; }

.cy-text-flat-radicalred, .cy-text-h-flat-radicalred:hover { color: #f62459; }

.cy-text-flat-newyorkpink, .cy-text-h-flat-newyorkpink:hover { color: #e08283; }

.cy-text-flat-cabaret, .cy-text-h-flat-cabaret:hover { color: #d2527f; }

.cy-text-flat-waxflower, .cy-text-h-flat-waxflower:hover { color: #f1a9a0; }

.cy-text-flat-sunsetorange, .cy-text-h-flat-sunsetorange:hover { color: #f64747; }

.cy-text-flat-razzmatazz, .cy-text-h-flat-razzmatazz:hover { color: #db0a5b; }

.cy-text-flat-cinnabar, .cy-text-h-flat-cinnabar:hover { color: #e74c3c; }

.cy-text-flat-monza, .cy-text-h-flat-monza:hover { color: #cf000f; }

.cy-text-flat-tallpoppy, .cy-text-h-flat-tallpoppy:hover { color: #c0392b; }

.cy-text-flat-valencia, .cy-text-h-flat-valencia:hover { color: #d64541; }

.cy-text-flat-oldbrick, .cy-text-h-flat-oldbrick:hover { color: #96281b; }

.cy-text-flat-thunderbird, .cy-text-h-flat-thunderbird:hover { color: #d91e18; }

.cy-text-flat-scarlet, .cy-text-h-flat-scarlet:hover { color: #f22613; }

.cy-text-flat-chestnutrose, .cy-text-h-flat-chestnutrose:hover { color: #d24d57; }

.cy-text-flat-softred, .cy-text-h-flat-softred:hover { color: #ec644b; }

.cy-text-flat-vividtangerine, .cy-text-h-flat-vividtangerine:hover { color: #ff9478; }

.cy-text-flat-falcon, .cy-text-h-flat-falcon:hover { color: #765d69; }

.cy-text-flat-froly, .cy-text-h-flat-froly:hover { color: #f1828d; }

.cy-text-flat-confetti, .cy-text-h-flat-confetti:hover { color: #e9d460; }

.cy-text-flat-orchidwhite, .cy-text-h-flat-orchidwhite:hover { color: #f0f0d6; }

.cy-text-flat-ripelemon, .cy-text-h-flat-ripelemon:hover { color: #f7ca18; }

.cy-text-flat-creamcan, .cy-text-h-flat-creamcan:hover { color: #f5d76e; }

.cy-text-flat-saffron, .cy-text-h-flat-saffron:hover { color: #f4d03f; }

.cy-text-flat-kournikova, .cy-text-h-flat-kournikova:hover { color: #fad859; }

.cy-text-flat-turbo, .cy-text-h-flat-turbo:hover { color: #f5e51b; }

.cy-text-flat-chartreuseyellow, .cy-text-h-flat-chartreuseyellow:hover { color: #eeee00; }

.cy-text-flat-marigoldyellow, .cy-text-h-flat-marigoldyellow:hover { color: #f4f776; }

.cy-text-flat-dolly, .cy-text-h-flat-dolly:hover { color: #ffff7e; }

.cy-text-flat-cream, .cy-text-h-flat-cream:hover { color: #ffffcc; }

.cy-text-flat-candycorn, .cy-text-h-flat-candycorn:hover { color: #fef160; }

.cy-text-flat-yellow, .cy-text-h-flat-yellow:hover { color: #f0ff00; }

.cy-text-flat-energyyellow, .cy-text-h-flat-energyyellow:hover { color: #f5e653; }

.cy-text-flat-witchhaze, .cy-text-h-flat-witchhaze:hover { color: #fff68f; }

.cy-text-flat-salomie, .cy-text-h-flat-salomie:hover { color: #ffec8b; }

.cy-text-flat-ginnfizz, .cy-text-h-flat-ginnfizz:hover { color: #fff9de; }

.cy-text-flat-buff, .cy-text-h-flat-buff:hover { color: #f2d984; }

.cy-text-flat-moonglow, .cy-text-h-flat-moonglow:hover { color: #fefad4; }
.cy-bg-mt-red, .cy-bg-h-mt-red:hover { background-color: #f44336; }

.cy-bg-mt-red100, .cy-bg-h-mt-red100:hover { background-color: #ffcdd2; }

.cy-bg-mt-red200, .cy-bg-h-mt-red200:hover { background-color: #ef9a9a; }

.cy-bg-mt-red300, .cy-bg-h-mt-red300:hover { background-color: #e57373; }

.cy-bg-mt-red400, .cy-bg-h-mt-red400:hover { background-color: #ef5350; }

.cy-bg-mt-red500, .cy-bg-h-mt-red500:hover { background-color: #f44336; }

.cy-bg-mt-red600, .cy-bg-h-mt-red600:hover { background-color: #e53935; }

.cy-bg-mt-red700, .cy-bg-h-mt-red700:hover { background-color: #d32f2f; }

.cy-bg-mt-red800, .cy-bg-h-mt-red800:hover { background-color: #c62828; }

.cy-bg-mt-red900.cy-bg-h-mt-red900:hover { background-color: #b71c1c; }

.cy-bg-mt-redA100.cy-bg-h-mt-redA100:hover { background-color: #ff8a80; }

.cy-bg-mt-redA200, .cy-bg-h-mt-redA200:hover { background-color: #ff5252; }

.cy-bg-mt-redA400, .cy-bg-h-mt-redA400:hover { background-color: #ff1744; }

.cy-bg-mt-redA700, .cy-bg-h-mt-red700:hover { background-color: #d50000; }
.cy-bg-mt-blue, .cy-bg-h-mt-blue:hover { background-color: #2196F3; }

.cy-bg-mt-blue100, .cy-bg-h-mt-blue100:hover { background-color: #BBDEFB; }

.cy-bg-mt-blue200, .cy-bg-h-mt-blue200:hover { background-color: #90CAF9; }

.cy-bg-mt-blue300, .cy-bg-h-mt-blue300:hover { background-color: #64B5F6; }

.cy-bg-mt-blue400, .cy-bg-h-mt-blue400:hover { background-color: #42A5F5; }

.cy-bg-mt-blue500, .cy-bg-h-mt-blue500:hover { background-color: #2196F3; }

.cy-bg-mt-blue600, .cy-bg-h-mt-blue600:hover { background-color: #1E88E5; }

.cy-bg-mt-blue700, .cy-bg-h-mt-blue700:hover { background-color: #1976D2; }

.cy-bg-mt-blue800, .cy-bg-h-mt-blue800:hover { background-color: #1565C0; }

.cy-bg-mt-blue900.cy-bg-h-mt-blue900:hover { background-color: #0D47A1; }

.cy-bg-mt-blueA100.cy-bg-h-mt-blueA100:hover { background-color: #82B1FF; }

.cy-bg-mt-blueA200, .cy-bg-h-mt-blueA200:hover { background-color: #448AFF; }

.cy-bg-mt-blueA400, .cy-bg-h-mt-blueA400:hover { background-color: #2979FF; }

.cy-bg-mt-blueA700, .cy-bg-h-mt-blue700:hover { background-color: #2962FF; }
.cy-bg-mt-green, .cy-bg-h-mt-green:hover { background-color: #4CAF50; }

.cy-bg-mt-green100, .cy-bg-h-mt-green100:hover { background-color: #C8E6C9; }

.cy-bg-mt-green200, .cy-bg-h-mt-green200:hover { background-color: #A5D6A7; }

.cy-bg-mt-green300, .cy-bg-h-mt-green300:hover { background-color: #81C784; }

.cy-bg-mt-green400, .cy-bg-h-mt-green400:hover { background-color: #66BB6A; }

.cy-bg-mt-green500, .cy-bg-h-mt-green500:hover { background-color: #4CAF50; }

.cy-bg-mt-green600, .cy-bg-h-mt-green600:hover { background-color: #43A047; }

.cy-bg-mt-green700, .cy-bg-h-mt-green700:hover { background-color: #388E3C; }

.cy-bg-mt-green800, .cy-bg-h-mt-green800:hover { background-color: #2E7D32; }

.cy-bg-mt-green900.cy-bg-h-mt-green900:hover { background-color: #1B5E20; }

.cy-bg-mt-greenA100.cy-bg-h-mt-greenA100:hover { background-color: #B9F6CA; }

.cy-bg-mt-greenA200, .cy-bg-h-mt-greenA200:hover { background-color: #69F0AE; }

.cy-bg-mt-greenA400, .cy-bg-h-mt-greenA400:hover { background-color: #00E676; }

.cy-bg-mt-greenA700, .cy-bg-h-mt-green700:hover { background-color: #00C853; }
.cy-text-mt-amber, .cy-text-h-mt-amber:hover { color: #FFC107; }

.cy-text-mt-amber100, .cy-text-h-mt-amber100:hover { color: #FFECB3; }

.cy-text-mt-amber200, .cy-text-h-mt-amber200:hover { color: #FFE082; }

.cy-text-mt-amber300, .cy-text-h-mt-amber300:hover { color: #FFD54F; }

.cy-text-mt-amber400, .cy-text-h-mt-amber400:hover { color: #FFCA28; }

.cy-text-mt-amber500, .cy-text-h-mt-amber500:hover { color: #FFC107; }

.cy-text-mt-amber600, .cy-text-h-mt-amber600:hover { color: #FFB300; }

.cy-text-mt-amber700, .cy-text-h-mt-amber700:hover { color: #FFA000; }

.cy-text-mt-amber800, .cy-text-h-mt-amber800:hover { color: #FF8F00; }

.cy-text-mt-amber900, .cy-text-h-mt-amber900:hover { color: #FF6F00; }

.cy-text-mt-amberA100, .cy-text-h-mt-amberA100:hover { color: #FFE57F; }

.cy-text-mt-amberA200, .cy-text-h-mt-amberA200:hover { color: #FFD740; }

.cy-text-mt-amberA400, .cy-text-h-mt-amberA400:hover { color: #FFC400; }

.cy-text-mt-amberA700, .cy-text-h-mt-amberA700:hover { color: #FFAB00; }

.cy-text-mt-blue, .cy-text-h-mt-blue:hover { color: #2196F3; }

.cy-text-mt-blue100, .cy-text-h-mt-blue100:hover { color: #BBDEFB; }

.cy-text-mt-blue200, .cy-text-h-mt-blue200:hover { color: #90CAF9; }

.cy-text-mt-blue300, .cy-text-h-mt-blue300:hover { color: #64B5F6; }

.cy-text-mt-blue400, .cy-text-h-mt-blue400:hover { color: #42A5F5; }

.cy-text-mt-blue500, .cy-text-h-mt-blue500:hover { color: #2196F3; }

.cy-text-mt-blue600, .cy-text-h-mt-blue600:hover { color: #1E88E5; }

.cy-text-mt-blue700, .cy-text-h-mt-blue700:hover { color: #1976D2; }

.cy-text-mt-blue800, .cy-text-h-mt-blue800:hover { color: #1565C0; }

.cy-text-mt-blue900, .cy-text-h-mt-blue900:hover { color: #0D47A1; }

.cy-text-mt-blueA100, .cy-text-h-mt-blueA100:hover { color: #82B1FF; }

.cy-text-mt-blueA200, .cy-text-h-mt-blueA200:hover { color: #448AFF; }

.cy-text-mt-blueA400, .cy-text-h-mt-blueA400:hover { color: #2979FF; }

.cy-text-mt-blueA700, .cy-text-h-mt-blueA700:hover { color: #2962FF; }

.cy-text-mt-bluegrey, .cy-text-h-mt-bluegrey:hover { color: #607D8B; }

.cy-text-mt-bluegrey100, .cy-text-h-mt-bluegrey100:hover { color: #CFD8DC; }

.cy-text-mt-bluegrey200, .cy-text-h-mt-bluegrey200:hover { color: #B0BEC5; }

.cy-text-mt-bluegrey300, .cy-text-h-mt-bluegrey300:hover { color: #90A4AE; }

.cy-text-mt-bluegrey400, .cy-text-h-mt-bluegrey400:hover { color: #78909C; }

.cy-text-mt-bluegrey500, .cy-text-h-mt-bluegrey500:hover { color: #607D8B; }

.cy-text-mt-bluegrey600, .cy-text-h-mt-bluegrey600:hover { color: #546E7A; }

.cy-text-mt-bluegrey700, .cy-text-h-mt-bluegrey700:hover { color: #455A64; }

.cy-text-mt-bluegrey800, .cy-text-h-mt-bluegrey800:hover { color: #37474F; }

.cy-text-mt-bluegrey900, .cy-text-h-mt-bluegrey900:hover { color: #263238; }

.cy-text-mt-brown, .cy-text-h-mt-brown:hover { color: #795548; }

.cy-text-mt-brown100, .cy-text-h-mt-brown100:hover { color: #D7CCC8; }

.cy-text-mt-brown200, .cy-text-h-mt-brown200:hover { color: #BCAAA4; }

.cy-text-mt-brown300, .cy-text-h-mt-brown300:hover { color: #A1887F; }

.cy-text-mt-brown400, .cy-text-h-mt-brown400:hover { color: #8D6E63; }

.cy-text-mt-brown500, .cy-text-h-mt-brown500:hover { color: #795548; }

.cy-text-mt-brown600, .cy-text-h-mt-brown600:hover { color: #6D4C41; }

.cy-text-mt-brown700, .cy-text-h-mt-brown700:hover { color: #5D4037; }

.cy-text-mt-brown800, .cy-text-h-mt-brown800:hover { color: #4E342E; }

.cy-text-mt-brown900, .cy-text-h-mt-brown900:hover { color: #3E2723; }

.cy-text-mt-cyan, .cy-text-h-mt-cyan:hover { color: #00BCD4; }

.cy-text-mt-cyan100, .cy-text-h-mt-cyan100:hover { color: #B2EBF2; }

.cy-text-mt-cyan200, .cy-text-h-mt-cyan200:hover { color: #80DEEA; }

.cy-text-mt-cyan300, .cy-text-h-mt-cyan300:hover { color: #4DD0E1; }

.cy-text-mt-cyan400, .cy-text-h-mt-cyan400:hover { color: #26C6DA; }

.cy-text-mt-cyan500, .cy-text-h-mt-cyan500:hover { color: #00BCD4; }

.cy-text-mt-cyan600, .cy-text-h-mt-cyan600:hover { color: #00ACC1; }

.cy-text-mt-cyan700, .cy-text-h-mt-cyan700:hover { color: #0097A7; }

.cy-text-mt-cyan800, .cy-text-h-mt-cyan800:hover { color: #00838F; }

.cy-text-mt-cyan900, .cy-text-h-mt-cyan900:hover { color: #006064; }

.cy-text-mt-cyanA100, .cy-text-h-mt-cyanA100:hover { color: #84FFFF; }

.cy-text-mt-cyanA200, .cy-text-h-mt-cyanA200:hover { color: #18FFFF; }

.cy-text-mt-cyanA400, .cy-text-h-mt-cyanA400:hover { color: #00E5FF; }

.cy-text-mt-cyanA700, .cy-text-h-mt-cyanA700:hover { color: #00B8D4; }

.cy-text-mt-dorange, .cy-text-h-mt-dorange:hover { color: #FF5722; }

.cy-text-mt-dorange100, .cy-text-h-mt-dorange100:hover { color: #FFCCBC; }

.cy-text-mt-dorange200, .cy-text-h-mt-dorange200:hover { color: #FFAB91; }

.cy-text-mt-dorange300, .cy-text-h-mt-dorange300:hover { color: #FF8A65; }

.cy-text-mt-dorange400, .cy-text-h-mt-dorange400:hover { color: #FF7043; }

.cy-text-mt-dorange500, .cy-text-h-mt-dorange500:hover { color: #FF5722; }

.cy-text-mt-dorange600, .cy-text-h-mt-dorange600:hover { color: #F4511E; }

.cy-text-mt-dorange700, .cy-text-h-mt-dorange700:hover { color: #E64A19; }

.cy-text-mt-dorange800, .cy-text-h-mt-dorange800:hover { color: #D84315; }

.cy-text-mt-dorange900, .cy-text-h-mt-dorange900:hover { color: #BF360C; }

.cy-text-mt-dorangeA100, .cy-text-h-mt-dorangeA100:hover { color: #FF9E80; }

.cy-text-mt-dorangeA200, .cy-text-h-mt-dorangeA200:hover { color: #FF6E40; }

.cy-text-mt-dorangeA400, .cy-text-h-mt-dorangeA400:hover { color: #FF3D00; }

.cy-text-mt-dorangeA700, .cy-text-h-mt-dorangeA700:hover { color: #DD2C00; }

.cy-text-mt-dpurple, .cy-text-h-mt-dpurple:hover { color: #673AB7; }

.cy-text-mt-dpurple100, .cy-text-h-mt-dpurple100:hover { color: #D1C4E9; }

.cy-text-mt-dpurple200, .cy-text-h-mt-dpurple200:hover { color: #B39DDB; }

.cy-text-mt-dpurple300, .cy-text-h-mt-dpurple300:hover { color: #9575CD; }

.cy-text-mt-dpurple400, .cy-text-h-mt-dpurple400:hover { color: #7E57C2; }

.cy-text-mt-dpurple500, .cy-text-h-mt-dpurple500:hover { color: #673AB7; }

.cy-text-mt-dpurple600, .cy-text-h-mt-dpurple600:hover { color: #5E35B1; }

.cy-text-mt-dpurple700, .cy-text-h-mt-dpurple700:hover { color: #512DA8; }

.cy-text-mt-dpurple800, .cy-text-h-mt-dpurple800:hover { color: #4527A0; }

.cy-text-mt-dpurple900, .cy-text-h-mt-dpurple900:hover { color: #311B92; }

.cy-text-mt-dpurpleA100, .cy-text-h-mt-dpurpleA100:hover { color: #B388FF; }

.cy-text-mt-dpurpleA200, .cy-text-h-mt-dpurpleA200:hover { color: #7C4DFF; }

.cy-text-mt-dpurpleA400, .cy-text-h-mt-dpurpleA400:hover { color: #651FFF; }

.cy-text-mt-dpurpleA700, .cy-text-h-mt-dpurpleA700:hover { color: #6200EA; }

.cy-text-mt-green, .cy-text-h-mt-green:hover { color: #4CAF50; }

.cy-text-mt-green100, .cy-text-h-mt-green100:hover { color: #C8E6C9; }

.cy-text-mt-green200, .cy-text-h-mt-green200:hover { color: #A5D6A7; }

.cy-text-mt-green300, .cy-text-h-mt-green300:hover { color: #81C784; }

.cy-text-mt-green400, .cy-text-h-mt-green400:hover { color: #66BB6A; }

.cy-text-mt-green500, .cy-text-h-mt-green500:hover { color: #4CAF50; }

.cy-text-mt-green600, .cy-text-h-mt-green600:hover { color: #43A047; }

.cy-text-mt-green700, .cy-text-h-mt-green700:hover { color: #388E3C; }

.cy-text-mt-green800, .cy-text-h-mt-green800:hover { color: #2E7D32; }

.cy-text-mt-green900, .cy-text-h-mt-green900:hover { color: #1B5E20; }

.cy-text-mt-greenA100, .cy-text-h-mt-greenA100:hover { color: #B9F6CA; }

.cy-text-mt-greenA200, .cy-text-h-mt-greenA200:hover { color: #69F0AE; }

.cy-text-mt-greenA400, .cy-text-h-mt-greenA400:hover { color: #00E676; }

.cy-text-mt-greenA700, .cy-text-h-mt-greenA700:hover { color: #00C853; }

.cy-text-mt-grey, .cy-text-h-mt-grey:hover { color: #9E9E9E; }

.cy-text-mt-grey100, .cy-text-h-mt-grey100:hover { color: #F5F5F5; }

.cy-text-mt-grey200, .cy-text-h-mt-grey200:hover { color: #EEEEEE; }

.cy-text-mt-grey300, .cy-text-h-mt-grey300:hover { color: #E0E0E0; }

.cy-text-mt-grey400, .cy-text-h-mt-grey400:hover { color: #BDBDBD; }

.cy-text-mt-grey500, .cy-text-h-mt-grey500:hover { color: #9E9E9E; }

.cy-text-mt-grey600, .cy-text-h-mt-grey600:hover { color: #757575; }

.cy-text-mt-grey700, .cy-text-h-mt-grey700:hover { color: #616161; }

.cy-text-mt-grey800, .cy-text-h-mt-grey800:hover { color: #424242; }

.cy-text-mt-grey900, .cy-text-h-mt-grey900:hover { color: #212121; }

.cy-text-mt-indigo, .cy-text-h-mt-indigo:hover { color: #3F51B5; }

.cy-text-mt-indigo100, .cy-text-h-mt-indigo100:hover { color: #C5CAE9; }

.cy-text-mt-indigo200, .cy-text-h-mt-indigo200:hover { color: #9FA8DA; }

.cy-text-mt-indigo300, .cy-text-h-mt-indigo300:hover { color: #7986CB; }

.cy-text-mt-indigo400, .cy-text-h-mt-indigo400:hover { color: #5C6BC0; }

.cy-text-mt-indigo500, .cy-text-h-mt-indigo500:hover { color: #3F51B5; }

.cy-text-mt-indigo600, .cy-text-h-mt-indigo600:hover { color: #3949AB; }

.cy-text-mt-indigo700, .cy-text-h-mt-indigo700:hover { color: #303F9F; }

.cy-text-mt-indigo800, .cy-text-h-mt-indigo800:hover { color: #283593; }

.cy-text-mt-indigo900, .cy-text-h-mt-indigo900:hover { color: #1A237E; }

.cy-text-mt-indigoA100, .cy-text-h-mt-indigoA100:hover { color: #8C9EFF; }

.cy-text-mt-indigoA200, .cy-text-h-mt-indigoA200:hover { color: #536DFE; }

.cy-text-mt-indigoA400, .cy-text-h-mt-indigoA400:hover { color: #3D5AFE; }

.cy-text-mt-indigoA700, .cy-text-h-mt-indigoA700:hover { color: #304FFE; }

.cy-text-mt-lblue, .cy-text-h-mt-lblue:hover { color: #2962FF; }

.cy-text-mt-lblue100, .cy-text-h-mt-lblue100:hover { color: #B3E5FC; }

.cy-text-mt-lblue200, .cy-text-h-mt-lblue200:hover { color: #81D4FA; }

.cy-text-mt-lblue300, .cy-text-h-mt-lblue300:hover { color: #4FC3F7; }

.cy-text-mt-lblue400, .cy-text-h-mt-lblue400:hover { color: #29B6F6; }

.cy-text-mt-lblue500, .cy-text-h-mt-lblue500:hover { color: #03A9F4; }

.cy-text-mt-lblue600, .cy-text-h-mt-lblue600:hover { color: #039BE5; }

.cy-text-mt-lblue700, .cy-text-h-mt-lblue700:hover { color: #0288D1; }

.cy-text-mt-lblue800, .cy-text-h-mt-lblue800:hover { color: #0277BD; }

.cy-text-mt-lblue900, .cy-text-h-mt-lblue900:hover { color: #01579B; }

.cy-text-mt-lblueA100, .cy-text-h-mt-lblueA100:hover { color: #80D8FF; }

.cy-text-mt-lblueA200, .cy-text-h-mt-lblueA200:hover { color: #40C4FF; }

.cy-text-mt-lblueA400, .cy-text-h-mt-lblueA400:hover { color: #00B0FF; }

.cy-text-mt-lblueA700, .cy-text-h-mt-lblueA700:hover { color: #0091EA; }

.cy-text-mt-lgreen, .cy-text-h-mt-lgreen:hover { color: #8BC34A; }

.cy-text-mt-lgreen100, .cy-text-h-mt-lgreen100:hover { color: #DCEDC8; }

.cy-text-mt-lgreen200, .cy-text-h-mt-lgreen200:hover { color: #C5E1A5; }

.cy-text-mt-lgreen300, .cy-text-h-mt-lgreen300:hover { color: #AED581; }

.cy-text-mt-lgreen400, .cy-text-h-mt-lgreen400:hover { color: #9CCC65; }

.cy-text-mt-lgreen500, .cy-text-h-mt-lgreen500:hover { color: #8BC34A; }

.cy-text-mt-lgreen600, .cy-text-h-mt-lgreen600:hover { color: #7CB342; }

.cy-text-mt-lgreen700, .cy-text-h-mt-lgreen700:hover { color: #689F38; }

.cy-text-mt-lgreen800, .cy-text-h-mt-lgreen800:hover { color: #558B2F; }

.cy-text-mt-lgreen900, .cy-text-h-mt-lgreen900:hover { color: #33691E; }

.cy-text-mt-lgreenA100, .cy-text-h-mt-lgreenA100:hover { color: #CCFF90; }

.cy-text-mt-lgreenA200, .cy-text-h-mt-lgreenA200:hover { color: #B2FF59; }

.cy-text-mt-lgreenA400, .cy-text-h-mt-lgreenA400:hover { color: #76FF03; }

.cy-text-mt-lgreenA700, .cy-text-h-mt-lgreenA700:hover { color: #64DD17; }

.cy-text-mt-lime, .cy-text-h-mt-lime:hover { color: #CDDC39; }

.cy-text-mt-lime100, .cy-text-h-mt-lime100:hover { color: #F0F4C3; }

.cy-text-mt-lime200, .cy-text-h-mt-lime200:hover { color: #E6EE9C; }

.cy-text-mt-lime300, .cy-text-h-mt-lime300:hover { color: #DCE775; }

.cy-text-mt-lime400, .cy-text-h-mt-lime400:hover { color: #D4E157; }

.cy-text-mt-lime500, .cy-text-h-mt-lime500:hover { color: #CDDC39; }

.cy-text-mt-lime600, .cy-text-h-mt-lime600:hover { color: #C0CA33; }

.cy-text-mt-lime700, .cy-text-h-mt-lime700:hover { color: #AFB42B; }

.cy-text-mt-lime800, .cy-text-h-mt-lime800:hover { color: #9E9D24; }

.cy-text-mt-lime900, .cy-text-h-mt-lime900:hover { color: #827717; }

.cy-text-mt-limeA100, .cy-text-h-mt-limeA100:hover { color: #F4FF81; }

.cy-text-mt-limeA200, .cy-text-h-mt-limeA200:hover { color: #EEFF41; }

.cy-text-mt-limeA400, .cy-text-h-mt-limeA400:hover { color: #C6FF00; }

.cy-text-mt-limeA700, .cy-text-h-mt-limeA700:hover { color: #AEEA00; }

.cy-text-mt-orange, .cy-text-h-mt-orange:hover { color: #FF9800; }

.cy-text-mt-orange100, .cy-text-h-mt-orange100:hover { color: #FFE0B2; }

.cy-text-mt-orange200, .cy-text-h-mt-orange200:hover { color: #FFCC80; }

.cy-text-mt-orange300, .cy-text-h-mt-orange300:hover { color: #FFB74D; }

.cy-text-mt-orange400, .cy-text-h-mt-orange400:hover { color: #FFA726; }

.cy-text-mt-orange500, .cy-text-h-mt-orange500:hover { color: #FF9800; }

.cy-text-mt-orange600, .cy-text-h-mt-orange600:hover { color: #FB8C00; }

.cy-text-mt-orange700, .cy-text-h-mt-orange700:hover { color: #F57C00; }

.cy-text-mt-orange800, .cy-text-h-mt-orange800:hover { color: #EF6C00; }

.cy-text-mt-orange900, .cy-text-h-mt-orange900:hover { color: #E65100; }

.cy-text-mt-orangeA100, .cy-text-h-mt-orangeA100:hover { color: #FFD180; }

.cy-text-mt-orangeA200, .cy-text-h-mt-orangeA200:hover { color: #FFAB40; }

.cy-text-mt-orangeA400, .cy-text-h-mt-orangeA400:hover { color: #FF9100; }

.cy-text-mt-orangeA700, .cy-text-h-mt-orangeA700:hover { color: #FF6D00; }

.cy-text-mt-pink, .cy-text-h-mt-pink:hover { color: #E91E63; }

.cy-text-mt-pink100, .cy-text-h-mt-pink100:hover { color: #F8BBD0; }

.cy-text-mt-pink200, .cy-text-h-mt-pink200:hover { color: #F48FB1; }

.cy-text-mt-pink300, .cy-text-h-mt-pink300:hover { color: #F06292; }

.cy-text-mt-pink400, .cy-text-h-mt-pink400:hover { color: #EC407A; }

.cy-text-mt-pink500, .cy-text-h-mt-pink500:hover { color: #E91E63; }

.cy-text-mt-pink600, .cy-text-h-mt-pink600:hover { color: #D81B60; }

.cy-text-mt-pink700, .cy-text-h-mt-pink700:hover { color: #C2185B; }

.cy-text-mt-pink800, .cy-text-h-mt-pink900:hover { color: #AD1457; }

.cy-text-mt-pink900, .cy-text-h-mt-pinkA100:hover { color: #880E4F; }

.cy-text-mt-pinkA100, .cy-text-h-mt-pinkA200:hover { color: #FF80AB; }

.cy-text-mt-pinkA200, .cy-text-h-mt-pinkA400:hover { color: #FF4081; }

.cy-text-mt-pinkA400, .cy-text-h-mt-pinkA700:hover { color: #F50057; }

.cy-text-mt-pinkA700, .cy-text-h-mt-pink100:hover { color: #C51162; }

.cy-text-mt-red, .cy-text-h-mt-red:hover { color: #f44336; }

.cy-text-mt-red100, .cy-text-h-mt-red100:hover { color: #ffcdd2; }

.cy-text-mt-red200, .cy-text-h-mt-red200:hover { color: #ef9a9a; }

.cy-text-mt-red300, .cy-text-h-mt-red300:hover { color: #e57373; }

.cy-text-mt-red400, .cy-text-h-mt-red400:hover { color: #ef5350; }

.cy-text-mt-red500, .cy-text-h-mt-red500:hover { color: #f44336; }

.cy-text-mt-red600, .cy-text-h-mt-red600:hover { color: #e53935; }

.cy-text-mt-red700, .cy-text-h-mt-red700:hover { color: #d32f2f; }

.cy-text-mt-red800, .cy-text-h-mt-red800:hover { color: #c62828; }

.cy-text-mt-red900, .cy-text-h-mt-red900:hover { color: #b71c1c; }

.cy-text-mt-redA100, .cy-text-h-mt-redA100:hover { color: #ff8a80; }

.cy-text-mt-redA200, .cy-text-h-mt-redA200:hover { color: #ff5252; }

.cy-text-mt-redA400, .cy-text-h-mt-redA400:hover { color: #ff1744; }

.cy-text-mt-redA700, .cy-text-h-mt-redA700:hover { color: #d50000; }

.cy-text-mt-teal, .cy-text-h-mt-teal { color: #009688; }

.cy-text-mt-teal100, .cy-text-h-mt-teal100:hover { color: #B2DFDB; }

.cy-text-mt-teal200, .cy-text-h-mt-teal200:hover { color: #80CBC4; }

.cy-text-mt-teal300, .cy-text-h-mt-teal300:hover { color: #4DB6AC; }

.cy-text-mt-teal400, .cy-text-h-mt-teal400:hover { color: #26A69A; }

.cy-text-mt-teal500, .cy-text-h-mt-teal500:hover { color: #009688; }

.cy-text-mt-teal600, .cy-text-h-mt-teal600:hover { color: #00897B; }

.cy-text-mt-teal700, .cy-text-h-mt-teal700:hover { color: #00796B; }

.cy-text-mt-teal800, .cy-text-h-mt-teal800:hover { color: #00695C; }

.cy-text-mt-teal900, .cy-text-h-mt-teal900:hover { color: #004D40; }

.cy-text-mt-tealA100, .cy-text-h-mt-tealA100:hover { color: #A7FFEB; }

.cy-text-mt-tealA200, .cy-text-h-mt-tealA200:hover { color: #64FFDA; }

.cy-text-mt-tealA400, .cy-text-h-mt-tealA400:hover { color: #1DE9B6; }

.cy-text-mt-tealA700, .cy-text-h-mt-tealA700:hover { color: #00BFA5; }

.cy-text-mt-yellow, .cy-text-h-mt-yellow { color: #FFEB3B; }

.cy-text-mt-yellow100, .cy-text-h-mt-yellow100 { color: #FFF9C4; }

.cy-text-mt-yellow200, .cy-text-h-mt-yellow200 { color: #FFF59D; }

.cy-text-mt-yellow300, .cy-text-h-mt-yellow300 { color: #FFF176; }

.cy-text-mt-yellow400, .cy-text-h-mt-yellow400 { color: #FFEE58; }

.cy-text-mt-yellow500, .cy-text-h-mt-yellow500 { color: #FFEB3B; }

.cy-text-mt-yellow600, .cy-text-h-mt-yellow600 { color: #FDD835; }

.cy-text-mt-yellow700, .cy-text-h-mt-yellow700 { color: #FBC02D; }

.cy-text-mt-yellow800, .cy-text-h-mt-yellow800 { color: #F9A825; }

.cy-text-mt-yellow900, .cy-text-h-mt-yellow900 { color: #F57F17; }

.cy-text-mt-yellowA100, .cy-text-h-mt-yellowA100 { color: #FFFF8D; }

.cy-text-mt-yellowA200, .cy-text-h-mt-yellowA200 { color: #FFFF00; }

.cy-text-mt-yellowA400, .cy-text-h-mt-yellowA400 { color: #FFEA00; }

.cy-text-mt-yellowA700, .cy-text-h-mt-yellowA700 { color: #FFD600; }

.cy-text-mt-purple, .cy-text-h-mt-purple:hover { color: #9C27B0; }

.cy-text-mt-purple100, .cy-text-h-mt-purple100:hover { color: #E1BEE7; }

.cy-text-mt-purple200, .cy-text-h-mt-purple200:hover { color: #CE93D8; }

.cy-text-mt-purple300, .cy-text-h-mt-purple300:hover { color: #BA68C8; }

.cy-text-mt-purple400, .cy-text-h-mt-purple400:hover { color: #AB47BC; }

.cy-text-mt-purple500, .cy-text-h-mt-purple500:hover { color: #9C27B0; }

.cy-text-mt-purple600, .cy-text-h-mt-purple600:hover { color: #8E24AA; }

.cy-text-mt-purple700, .cy-text-h-mt-purple700:hover { color: #7B1FA2; }

.cy-text-mt-purple800, .cy-text-h-mt-purple800:hover { color: #6A1B9A; }

.cy-text-mt-purple900, .cy-text-h-mt-purple900:hover { color: #4A148C; }

.cy-text-mt-purpleA100, .cy-text-h-mt-purpleA100:hover { color: #EA80FC; }

.cy-text-mt-purpleA200, .cy-text-h-mt-purpleA200:hover { color: #E040FB; }

.cy-text-mt-purpleA400, .cy-text-h-mt-purpleA400:hover { color: #D500F9; }

.cy-text-mt-purpleA700, .cy-text-h-mt-purple100:hover { color: #AA00FF; }
