.cy-bg-mt-blue, .cy-bg-h-mt-blue:hover {
  background-color: #2196F3;
}

.cy-bg-mt-blue100, .cy-bg-h-mt-blue100:hover {
  background-color: #BBDEFB;
}

.cy-bg-mt-blue200, .cy-bg-h-mt-blue200:hover {
  background-color: #90CAF9;
}

.cy-bg-mt-blue300, .cy-bg-h-mt-blue300:hover {
  background-color: #64B5F6;
}

.cy-bg-mt-blue400, .cy-bg-h-mt-blue400:hover {
  background-color: #42A5F5;
}

.cy-bg-mt-blue500, .cy-bg-h-mt-blue500:hover {
  background-color: #2196F3;
}

.cy-bg-mt-blue600, .cy-bg-h-mt-blue600:hover {
  background-color: #1E88E5;
}

.cy-bg-mt-blue700, .cy-bg-h-mt-blue700:hover {
  background-color: #1976D2;
}

.cy-bg-mt-blue800, .cy-bg-h-mt-blue800:hover {
  background-color: #1565C0;
}

.cy-bg-mt-blue900.cy-bg-h-mt-blue900:hover {
  background-color: #0D47A1;
}

.cy-bg-mt-blueA100.cy-bg-h-mt-blueA100:hover {
  background-color: #82B1FF;
}

.cy-bg-mt-blueA200, .cy-bg-h-mt-blueA200:hover {
  background-color: #448AFF;
}

.cy-bg-mt-blueA400, .cy-bg-h-mt-blueA400:hover {
  background-color: #2979FF;
}

.cy-bg-mt-blueA700, .cy-bg-h-mt-blue700:hover {
  background-color: #2962FF;
}.cy-bd-mt-blue, .cy-bd-h-mt-blue:hover {
  border-color: #2196F3;
}

.cy-bd-mt-blue100, .cy-bd-h-mt-blue100:hover {
  border-color: #BBDEFB;
}

.cy-bd-mt-blue200, .cy-bd-h-mt-blue200:hover {
  border-color: #90CAF9;
}

.cy-bd-mt-blue300, .cy-bd-h-mt-blue300:hover {
  border-color: #64B5F6;
}

.cy-bd-mt-blue400, .cy-bd-h-mt-blue400:hover {
  border-color: #42A5F5;
}

.cy-bd-mt-blue500, .cy-bd-h-mt-blue500:hover {
  border-color: #2196F3;
}

.cy-bd-mt-blue600, .cy-bd-h-mt-blue600:hover {
  border-color: #1E88E5;
}

.cy-bd-mt-blue700, .cy-bd-h-mt-blue700:hover {
  border-color: #1976D2;
}

.cy-bd-mt-blue800, .cy-bd-h-mt-blue800:hover {
  border-color: #1565C0;
}

.cy-bd-mt-blue900.cy-bd-h-mt-blue900:hover {
  border-color: #0D47A1;
}

.cy-bd-mt-blueA100.cy-bd-h-mt-blueA100:hover {
  border-color: #82B1FF;
}

.cy-bd-mt-blueA200, .cy-bd-h-mt-blueA200:hover {
  border-color: #448AFF;
}

.cy-bd-mt-blueA400, .cy-bd-h-mt-blueA400:hover {
  border-color: #2979FF;
}

.cy-bd-mt-blueA700, .cy-bd-h-mt-blue700:hover {
  border-color: #2962FF;
}